{% load menu_tags cache %}

{% cache 5000 header %}
<header class="">
	<div class="logo">
		<a href="/">zVintauge</a>
		<span>Collectible Vintage & Antique Photos</span>
	</div>
	<div id="cssmenu" class="align-center">
		<ul>
			<li><a href="{% url 'home' %}"><span>Home</span></a></li>
			<li><a href="{% url 'gallery' %}"><span>Gallery</span></a></li>
			<li class="has-sub"><a href="{% url 'article_list_all' %}"><span>Blog</span></a>
				{% get_categories %}
			</li>
			<li class="last"><a href="{% url 'contact' %}"><span>Contact</span></a></li>
		</ul>
	</div>
</header>
{% endcache %}